<center>
        <img src = "http://www.dars.state.tx.us/images/ecihead.gif"/>
        <p style="color:maroon;font-size:12px">Add: 1318 Memorial Dr. Bryan, TX 77802</p>
        <p style="color:maroon;font-size:12px">Phone: 979-776-4788</p>
        <p style="color:maroon;font-size:12px">Fax: 979-776-1456</p>

        <a href="www.dars.state.tx.us/ecis">
              <p style="color:maroon;font-size:12px"><em>Our Website</em></p>
        </a>
        <p></p>

        <h1 style="font-size:20px">Travel Voucher</h1>
<table border="1">
  <tr>
    <th>Id</th>
    <th>Name</th>
    <th>From</th>
    <th>To</th>
    <th>distance</th>
    <th>date</th>
    <th>price</th>
    <th></th>
  </tr>

<% @trackersqueried.each do |tracker| %>
  <tr>
    <td><%= tracker.id %></td>
    <td><%= tracker.name %></td>
    <td><%= tracker.source %></td>
    <td><%= tracker.dest %></td>
    <td><%= 0.00062*tracker.dist %></td>
    <td><%= tracker.create_at %></td>
    <td><%= 0.56*0.00062*tracker.dist %></td>
  </tr>
<% end %>
</table>
</center>
